{% extends 'main.html' %}

{% block gap %}
<br>
<form action="{% url 'result_proyect_view' %}" method="get">
    <label for="user">Usuario:</label>
    <input type="text" id="user" name="user" placeholder="Usuario">
<br>
    <label for="name_proyect">Nombre del Proyecto:</label>
    <input type="text" id="name_proyect" name="name_proyect" placeholder="Nombre del Proyecto">
<br>
    <label for="key_words">Palabras clave:</label>
    <input type="text" id="key_words" name="key_words" placeholder="Ejemplo: mente, aprendizaje, estudiantes">
<br>
    
    <button type="submit">Buscar</button>
</form>
{% endblock gap %}