{% extends 'main.html' %}
{% block gap %}
<br>
<h2>BehLab </h2>
<p> Plataforma para el análisis de datos en ciencias del comportamiento, psicología, y ciencias sociales en general. El objetivo facilitar el análisis de datos 
    de una manera rápida y sencilla. También busca generar redes entre distintos investigadores para compartir dudas, consejos, estrategias de análisis y más.
</p>
<p> En <b>BehLabTools</b> se continuará incorporando nuevas herramientas para el análisis de datos. Herramientas que pueden servir para el análisis de datos en general
    pero se priorizarán aquellas que suelen utilizar los investigadores en el área del comportamiento humano.
</p>
<p> En <b>BehLabNet</b> se ofrece la opción de que los investigadores carguen sus proyectos de investigación. Se pueden generar consultas desde, como aproximarse a
    determinado objeto de estudio, hasta pedir la colaboración de otros investigadores, o buscar participantes de experimentos y estudios. De modo que se pueda trazar
    una red de trabajo y colaboración.
</p>
<br>
<h3> Sobre el creador </h3>
<img src="/media/web/foto_juan.png" class="img-fluid" alt="Foto del creador">
<p> Mi nombre es Juan Manuel Curcio, soy Psicólogo, becario doctoral de CONICET en Psicología. Me apasiona el análisis de datos y la investigación del comportamiento
    humano por lo que esta web busca unir mis dos pasiones.
</p>
<p> Además, soy docente de Bioinformática y Psicoestadística 1 y 2 del IUNIR y de Desarrollos Psicológicos Contemporáneos en UNR. Tengo experiencia en
    análisis de datos en diseños experimentales y no experimentales de psicología y en análisis de datos macrosociales de educación como ex analista de datos de la fundación Quántitas.
</p>
<br>
<h3> Por consultas o sugerencias comunicarse al siguiente mail: </h3>
<p> <a href="mailto:juanmanuelcurcio@gmail.com">juanmanuelcurcio@gmail.com</a> </p>
<h4> ¡Gracias por utilizar mi plataforma web! Espero que te haya sido de gran ayuda </h4>

{% endblock gap %}