{% extends 'main.html' %}
{% block gap %}
<br>
<br>
<br>
<h2> Bienvenido a BehLab </h2>
<h6> - Behavioral Sciences Laboratory - </h6>
<br>
<h4> Plataforma para el analisis de datos en ciencias del comportamiento y ciencias sociales en general </h4>
<br>
<br>
<br>
<style>
    .custom-card {
        width: 500px;
        height: 500px; 
    }
</style>

<div class="row gx-4 gx-lg-5" style="margin-left: 350px;">
    <div class="col-md-4 mb-5">
        <div class="card h-100 custom-card">
            
            <div class="card-body">
                <img src="media/web/plots_examples.gif" class="card-img-top img-fluid"> <!-- Agrega tu imagen aquí -->
                <p class="card-text"> Utilce <b>BehLabTools</b>, realice sus analisis de datos de una manera rapida y sencilla</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock gap %}