{% extends 'main.html' %}
{% block gap %}
<br>
<br>
<br>
<h2> Bienvenido a BehLab </h2>
<h6> - Behavioral Sciences Laboratory - </h6>
<br>
<h4> Plataforma para el análisis de datos en ciencias del comportamiento, psicología, y ciencias sociales en general </h4>
<br>
<br>
<br>
<style>
    .custom-card {
        width: 500px;
        height: 500px; 
    }
</style>

<div class="row gx-4 gx-lg-5" >
    <div class="col-md-4 mb-5">
        <div class="card h-100 custom-card">
            <div class="card-body">
                <img src="media/web/plots_examples.gif" class="card-img-top img-fluid">
                <p class="card-text"> Utilicé <b>BehLabTools</b>, realicé sus análisis de datos de una manera rápida y sencilla</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5"style="margin-left: 150px;">
        <div class="card h-100 custom-card">
            <div class="card-body">
                <img src="media/web/experimentos.gif" class="card-img-top img-fluid"> 
                <p class="card-text"> Consulte <b>BehLabNet</b>, donde la comunidad puede cargar sus proyectos con el afán de encontrar colaboradores, preguntar sobre como implementar un diseño, y mas</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock gap %}