{% extends 'main.html' %}

{% block gap %}
    <br>
    <a class="btn btn-primary" href="{% url 'NewProyectForm_view' %}" style="margin-left: 20px;">Agregar proyecto</a>
    <a href="{% url 'user_panel_view' %}" class="btn btn-secondary" style="margin-left: 10px;">Atras</a>
    <br>
    <br>

    <ul>
        {% for proyect in proyects %}
        <li>
            <h4>{{ proyect.name_proyect }}</h2>
                <div>
                    <button>
                     <a href="{% url 'delete_proyects_view' proyect.id %}">Eliminar</a>  
                    </button>
                    <button>
                     <a href="{% url 'update_proyects_view' proyect.id %}">Editar</a>  
                     <button>
                        <a href="{% url 'detail_proyects_view' proyect.id %}">Detalle</a>  
                       </button>
                    </button>
                 </div>
        </li>
        {% endfor %}
    </ul>

{% endblock gap %}